{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-content-owner-readonly": {
          "description": "View content owner account details from YouTube."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://www.googleapis.com/",
  "batchPath": "batch/youtubePartner/v1",
  "canonicalName": "YouTube Partner",
  "description": "The YouTube Content ID API allows the management of YouTube assets along with their associated content, references, ownership, rights and policies.",
  "discoveryVersion": "v1",
  "documentationLink": "https://devsite.googleplex.com/youtube/partner/docs/v1/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "youtubePartner:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "name": "youtubePartner",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "assetLabels": {
      "methods": {
        "insert": {
          "description": "Insert an asset label for an owner.",
          "flatPath": "youtube/partner/v1/assetLabels",
          "httpMethod": "POST",
          "id": "youtubePartner.assetLabels.insert",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetLabels",
          "request": {
            "$ref": "AssetLabel"
          },
          "response": {
            "$ref": "AssetLabel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of all asset labels for an owner.",
          "flatPath": "youtube/partner/v1/assetLabels",
          "httpMethod": "GET",
          "id": "youtubePartner.assetLabels.list",
          "parameterOrder": [],
          "parameters": {
            "labelPrefix": {
              "description": "The *labelPrefix* parameter identifies the prefix of asset labels to retrieve.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "The *q* parameter specifies the query string to use to filter search results. YouTube searches for the query string in the *labelName* field of asset labels.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetLabels",
          "response": {
            "$ref": "AssetLabelListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "assetMatchPolicy": {
      "methods": {
        "get": {
          "description": "Retrieves the match policy assigned to the specified asset by the content owner associated with the authenticated user. This information is only accessible to an owner of the asset.",
          "flatPath": "youtube/partner/v1/assets/{assetId}/matchPolicy",
          "httpMethod": "GET",
          "id": "youtubePartner.assetMatchPolicy.get",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving the match policy.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}/matchPolicy",
          "response": {
            "$ref": "AssetMatchPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patches the asset's match policy. If an asset has multiple owners, each owner may set its own match policy for the asset. YouTube then computes the match policy that is actually applied for the asset based on the territories where each owner owns the asset.",
          "flatPath": "youtube/partner/v1/assets/{assetId}/matchPolicy",
          "httpMethod": "PATCH",
          "id": "youtubePartner.assetMatchPolicy.patch",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving the match policy.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}/matchPolicy",
          "request": {
            "$ref": "AssetMatchPolicy"
          },
          "response": {
            "$ref": "AssetMatchPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates the asset's match policy. If an asset has multiple owners, each owner may set its own match policy for the asset. YouTube then computes the match policy that is actually applied for the asset based on the territories where each owner owns the asset.",
          "flatPath": "youtube/partner/v1/assets/{assetId}/matchPolicy",
          "httpMethod": "PUT",
          "id": "youtubePartner.assetMatchPolicy.update",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving the match policy.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}/matchPolicy",
          "request": {
            "$ref": "AssetMatchPolicy"
          },
          "response": {
            "$ref": "AssetMatchPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "assetRelationships": {
      "methods": {
        "delete": {
          "description": "Deletes a relationship between two assets.",
          "flatPath": "youtube/partner/v1/assetRelationships/{assetRelationshipId}",
          "httpMethod": "DELETE",
          "id": "youtubePartner.assetRelationships.delete",
          "parameterOrder": [
            "assetRelationshipId"
          ],
          "parameters": {
            "assetRelationshipId": {
              "description": "The *assetRelationshipId* parameter specifies a value that uniquely identifies the relationship you are deleting.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetRelationships/{assetRelationshipId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Creates a relationship that links two assets.",
          "flatPath": "youtube/partner/v1/assetRelationships",
          "httpMethod": "POST",
          "id": "youtubePartner.assetRelationships.insert",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetRelationships",
          "request": {
            "$ref": "AssetRelationship"
          },
          "response": {
            "$ref": "AssetRelationship"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of relationships for a given asset. The list contains relationships where the specified asset is either the parent (embedding) or child (embedded) asset in the relationship.",
          "flatPath": "youtube/partner/v1/assetRelationships",
          "httpMethod": "GET",
          "id": "youtubePartner.assetRelationships.list",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the asset ID of the asset for which you are retrieving relationships.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. Set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetRelationships",
          "response": {
            "$ref": "AssetRelationshipListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "assetSearch": {
      "methods": {
        "list": {
          "description": "Searches for assets based on asset metadata. The method can retrieve all assets or only assets owned by the content owner. This method mimics the functionality of the advanced search feature on the Assets page in CMS.",
          "flatPath": "youtube/partner/v1/assetSearch",
          "httpMethod": "GET",
          "id": "youtubePartner.assetSearch.list",
          "parameterOrder": [],
          "parameters": {
            "createdAfter": {
              "description": "The *createdAfter* parameter restricts the set of returned assets to ones originally created on or after the specified datetime. For example: 2015-01-29T23:00:00Z",
              "location": "query",
              "type": "string"
            },
            "createdBefore": {
              "description": "The *createdBefore* parameter restricts the set of returned assets to ones originally created on or before the specified datetime. For example: 2015-01-29T23:00:00Z",
              "location": "query",
              "type": "string"
            },
            "hasConflicts": {
              "description": "The *hasConflicts* parameter enables you to only retrieve assets that have ownership conflicts. The only valid value is true. Setting the parameter value to false does not affect the results.",
              "location": "query",
              "type": "boolean"
            },
            "includeAnyProvidedlabel": {
              "description": "If *includeAnyProvidedlabel* parameter is set to true, will search for assets that contain any of the provided labels; else will search for assets that contain all the provided labels.",
              "location": "query",
              "type": "boolean"
            },
            "isrcs": {
              "description": "A comma-separated list of up to 50 ISRCs. If you specify a value for this parameter, the API server ignores any values set for the following parameters: q, includeAnyProvidedLabel, hasConflicts, labels, metadataSearchFields, sort, and type.",
              "location": "query",
              "type": "string"
            },
            "labels": {
              "description": "The *labels* parameter specifies the assets with certain asset labels that you want to retrieve. The parameter value is a comma-separated list of asset labels.",
              "location": "query",
              "type": "string"
            },
            "metadataSearchFields": {
              "description": "The *metadataSearchField* parameter specifies which metadata fields to search by. It is a comma-separated list of metadata field and value pairs connected by colon(:). For example: customId:my_custom_id,artist:Dandexx",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "ownershipRestriction": {
              "default": "RESTRICT_MINE",
              "description": "The *ownershipRestriction* parameter specifies the ownership filtering option for the search. By default the search is performed in the assets owned by currently authenticated user only.",
              "enum": [
                "MINE",
                "NONE"
              ],
              "enumDescriptions": [
                "Find assets owned by the current user that match the search query. This is the default behavior.",
                "Find all assets that match the search query, regardless of owner."
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. Set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "YouTube searches within the *id*, *type*, and *customId* fields for all assets as well as in numerous other metadata fields – such as *actor*, *album*, *director*, *isrc*, and *tmsId* – that vary for different types of assets (movies, music videos, etc.).",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "description": "The *sort* parameter specifies how the search results should be sorted. Note that results are always sorted in descending order.",
              "enum": [
                "CLAIMS",
                "TIME",
                "VIEWS"
              ],
              "enumDescriptions": [
                "Sort by the number of claims for each asset.",
                "Sort by the modification time for each asset. This is the default value.",
                "Sort by the approximate daily views for each asset."
              ],
              "location": "query",
              "type": "string"
            },
            "type": {
              "description": "The *type* parameter specifies the types of assets that you want to retrieve. The parameter value is a comma-separated list of asset types.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetSearch",
          "response": {
            "$ref": "AssetSearchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "assetShares": {
      "methods": {
        "list": {
          "description": "This method either retrieves a list of asset shares the partner owns and that map to a specified asset view ID *or* it retrieves a list of asset views associated with a specified asset share ID owned by the partner.",
          "flatPath": "youtube/partner/v1/assetShares",
          "httpMethod": "GET",
          "id": "youtubePartner.assetShares.list",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the asset ID for which you are retrieving data. The parameter can be an asset view ID or an asset share ID. - If the value is an asset view ID, the API response identifies any asset share ids mapped to the asset view. - If the value is an asset share ID, the API response identifies any asset view ids that maps to that asset share. ",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. Set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assetShares",
          "response": {
            "$ref": "AssetShareListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "assets": {
      "methods": {
        "get": {
          "description": "Retrieves the metadata for the specified asset. Note that if the request identifies an asset that has been merged with another asset, meaning that YouTube identified the requested asset as a duplicate, then the request retrieves the merged, or synthesized, asset.",
          "flatPath": "youtube/partner/v1/assets/{assetId}",
          "httpMethod": "GET",
          "id": "youtubePartner.assets.get",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fetchMatchPolicy": {
              "description": "The *fetchMatchPolicy* parameter specifies the version of the asset's match policy that should be returned in the API response.",
              "location": "query",
              "type": "string"
            },
            "fetchMetadata": {
              "description": "The *fetchMetadata* parameter specifies the version of the asset's metadata that should be returned in the API response. In some cases, YouTube receives metadata for an asset from multiple sources, such as when different partners own the asset in different territories.",
              "location": "query",
              "type": "string"
            },
            "fetchOwnership": {
              "description": "The *fetchOwnership* parameter specifies the version of the asset's ownership data that should be returned in the API response. As with asset metadata, YouTube can receive asset ownership data from multiple sources.",
              "location": "query",
              "type": "string"
            },
            "fetchOwnershipConflicts": {
              "description": "The *fetchOwnershipConflicts* parameter allows you to retrieve information about ownership conflicts.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}",
          "response": {
            "$ref": "Asset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Inserts an asset with the specified metadata. After inserting an asset, you can set its ownership data and match policy.",
          "flatPath": "youtube/partner/v1/assets",
          "httpMethod": "POST",
          "id": "youtubePartner.assets.insert",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets",
          "request": {
            "$ref": "Asset"
          },
          "response": {
            "$ref": "Asset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of assets based on asset metadata. The method can retrieve all assets or only assets owned by the content owner. Note that in cases where duplicate assets have been merged, the API response only contains the synthesized asset. (It does not contain the constituent assets that were merged into the synthesized asset.)",
          "flatPath": "youtube/partner/v1/assets",
          "httpMethod": "GET",
          "id": "youtubePartner.assets.list",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "fetchMatchPolicy": {
              "description": "The *fetchMatchPolicy* parameter specifies the version of the asset's match policy that should be returned in the API response.",
              "location": "query",
              "type": "string"
            },
            "fetchMetadata": {
              "description": "The *fetchMetadata* parameter specifies the version of the asset's metadata that should be returned in the API response. In some cases, YouTube receives metadata for an asset from multiple sources, such as when different partners own the asset in different territories.",
              "location": "query",
              "type": "string"
            },
            "fetchOwnership": {
              "description": "The *fetchOwnership* parameter specifies the version of the asset's ownership data that should be returned in the API response. As with asset metadata, YouTube can receive asset ownership data from multiple sources.",
              "location": "query",
              "type": "string"
            },
            "fetchOwnershipConflicts": {
              "description": "The *fetchOwnershipConflicts* parameter allows you to retrieve information about ownership conflicts.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "The *id* parameter specifies a comma-separated list of YouTube Asset IDs that identify the assets you want to retrieve. As noted in the method description, if you try to retrieve an asset that YouTube identified as a duplicate and merged with another asset, the API response only returns the synthesized asset. In that case, the aliasId property in the asset resource specifies a list of other asset IDs that can be used to identify that asset. Also note that the API response does not contain duplicates. As such, if your request identifies three asset IDs, and all of those have been merged into a single asset, then the API response identifies one matching asset.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets",
          "response": {
            "$ref": "AssetListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patches the metadata for the specified asset.",
          "flatPath": "youtube/partner/v1/assets/{assetId}",
          "httpMethod": "PATCH",
          "id": "youtubePartner.assets.patch",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset being patched.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}",
          "request": {
            "$ref": "Asset"
          },
          "response": {
            "$ref": "Asset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates the metadata for the specified asset.",
          "flatPath": "youtube/partner/v1/assets/{assetId}",
          "httpMethod": "PUT",
          "id": "youtubePartner.assets.update",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}",
          "request": {
            "$ref": "Asset"
          },
          "response": {
            "$ref": "Asset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "campaigns": {
      "methods": {
        "delete": {
          "description": "Deletes a specified campaign for an owner.",
          "flatPath": "youtube/partner/v1/campaigns/{campaignId}",
          "httpMethod": "DELETE",
          "id": "youtubePartner.campaigns.delete",
          "parameterOrder": [
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "description": "The *campaignId* parameter specifies the YouTube campaign ID of the campaign being deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/campaigns/{campaignId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "get": {
          "description": "Retrieves a particular campaign for an owner.",
          "flatPath": "youtube/partner/v1/campaigns/{campaignId}",
          "httpMethod": "GET",
          "id": "youtubePartner.campaigns.get",
          "parameterOrder": [
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "description": "The *campaignId* parameter specifies the YouTube campaign ID of the campaign being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/campaigns/{campaignId}",
          "response": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Insert a new campaign for an owner using the specified campaign data.",
          "flatPath": "youtube/partner/v1/campaigns",
          "httpMethod": "POST",
          "id": "youtubePartner.campaigns.insert",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/campaigns",
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of campaigns for an owner.",
          "flatPath": "youtube/partner/v1/campaigns",
          "httpMethod": "GET",
          "id": "youtubePartner.campaigns.list",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. For example, set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/campaigns",
          "response": {
            "$ref": "CampaignList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patch the data for a specific campaign.",
          "flatPath": "youtube/partner/v1/campaigns/{campaignId}",
          "httpMethod": "PATCH",
          "id": "youtubePartner.campaigns.patch",
          "parameterOrder": [
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "description": "The *campaignId* parameter specifies the YouTube campaign ID of the campaign being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/campaigns/{campaignId}",
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Update the data for a specific campaign.",
          "flatPath": "youtube/partner/v1/campaigns/{campaignId}",
          "httpMethod": "PUT",
          "id": "youtubePartner.campaigns.update",
          "parameterOrder": [
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "description": "The *campaignId* parameter specifies the YouTube campaign ID of the campaign being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/campaigns/{campaignId}",
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "claimHistory": {
      "methods": {
        "get": {
          "description": "Retrieves the claim history for a specified claim.",
          "flatPath": "youtube/partner/v1/claimHistory/{claimId}",
          "httpMethod": "GET",
          "id": "youtubePartner.claimHistory.get",
          "parameterOrder": [
            "claimId"
          ],
          "parameters": {
            "claimId": {
              "description": "The *claimId* parameter specifies the YouTube claim ID of the claim for which you are retrieving the claim history.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claimHistory/{claimId}",
          "response": {
            "$ref": "ClaimHistory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "claimSearch": {
      "methods": {
        "list": {
          "description": "Retrieves a list of claims that match the search criteria. You can search for claims that are associated with a specific asset or video or that match a specified query string.",
          "flatPath": "youtube/partner/v1/claimSearch",
          "httpMethod": "GET",
          "id": "youtubePartner.claimSearch.list",
          "parameterOrder": [],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving claims.",
              "location": "query",
              "type": "string"
            },
            "contentType": {
              "description": "The *contentType* parameter specifies the content type of claims that you want to retrieve.",
              "enum": [
                "AUDIO",
                "AUDIOVISUAL",
                "VISUAL"
              ],
              "enumDescriptions": [
                "Restrict results to audio-only claims.",
                "Restrict results to audiovisual claims.",
                "Restrict results to video-only claims."
              ],
              "location": "query",
              "type": "string"
            },
            "createdAfter": {
              "description": "The *createdAfter* parameter allows you to restrict the set of returned claims to ones created on or after the specified date (inclusive).",
              "location": "query",
              "type": "string"
            },
            "createdBefore": {
              "description": "The *createdBefore* parameter allows you to restrict the set of returned claims to ones created before the specified date (exclusive).",
              "location": "query",
              "type": "string"
            },
            "inactiveReasons": {
              "description": "The *inactiveReasons* parameter allows you to specify what kind of inactive claims you want to find based on the reasons why the claims became inactive.",
              "location": "query",
              "type": "string"
            },
            "includeThirdPartyClaims": {
              "description": "Used along with the *videoId* parameter this parameter determines whether or not to include third party claims in the search results.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "origin": {
              "description": "The *origin* parameter specifies the origins you want to find claims for. It is a comma-separated list of origin values.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. For example, set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            },
            "partnerUploaded": {
              "description": "The *partnerUploaded* parameter specifies whether you want to filter your search results to only partner uploaded or non partner uploaded claims.",
              "location": "query",
              "type": "boolean"
            },
            "q": {
              "description": "The *q* parameter specifies the query string to use to filter search results. YouTube searches for the query string in the following claim fields: *video_title*, *video_keywords*, *user_name*, *isrc*, *iswc*, *grid*, *custom_id*, and in the content owner's email address.",
              "location": "query",
              "type": "string"
            },
            "referenceId": {
              "description": "The *referenceId* parameter specifies the YouTube reference ID of the reference for which you are retrieving claims.",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "description": "The *sort* parameter specifies the method that will be used to order resources in the API response. The default value is date. However, if the status parameter value is either appealed, disputed, pending, potential, or routedForReview, then results will be sorted by the time that the claim review period expires.",
              "enum": [
                "DATE",
                "VIEW_COUNT"
              ],
              "enumDescriptions": [
                "Resources are sorted in reverse chronological order (from newest to oldest) based on the dates they were created. This value is not applicable if the status parameter is set to any of the following values: appealed, disputed, pending, potential, or routedForReview.",
                "Resources are sorted from highest to lowest number of views for the claimed content. This value is not applicable if the status parameter is set to any of the following values: appealed, disputed, pending, potential, or routedForReview."
              ],
              "location": "query",
              "type": "string"
            },
            "status": {
              "description": "The *status* parameter restricts your results to only claims in the specified status.",
              "enum": [
                "ACTIVE",
                "APPEALED",
                "DISPUTED",
                "INACTIVE",
                "PENDING",
                "POTENTIAL",
                "ROUTED_FOR_REVIEW",
                "TAKEDOWN"
              ],
              "enumDescriptions": [
                "Restrict results to claims with active status.",
                "Restrict results to claims with appealed status.",
                "Restrict results to claims with disputed status.",
                "Restrict results to claims with inactive status.",
                "Restrict results to claims with pending status.",
                "Restrict results to claims with potetial status.",
                "Restrict results to claims that require review based on a match policy rule.",
                "Restrict results to claims with takedown status."
              ],
              "location": "query",
              "type": "string"
            },
            "statusModifiedAfter": {
              "description": "The *statusModifiedAfter* parameter allows you to restrict the result set to only include claims that have had their status modified on or after the specified date (inclusive). The date specified must be on or after June 30, 2016 (2016-06-30). The parameter value's format is YYYY-MM-DD.",
              "location": "query",
              "type": "string"
            },
            "statusModifiedBefore": {
              "description": "The *statusModifiedBefore* parameter allows you to restrict the result set to only include claims that have had their status modified before the specified date (exclusive). The date specified must be on or after July 1, 2016 (2016-07-01). The parameter value's format is YYYY-MM-DD.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "The *videoId* parameter specifies comma-separated list of YouTube video IDs for which you are retrieving claims.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claimSearch",
          "response": {
            "$ref": "ClaimSearchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "claims": {
      "methods": {
        "get": {
          "description": "Retrieves a specific claim by ID.",
          "flatPath": "youtube/partner/v1/claims/{claimId}",
          "httpMethod": "GET",
          "id": "youtubePartner.claims.get",
          "parameterOrder": [
            "claimId"
          ],
          "parameters": {
            "claimId": {
              "description": "The *claimId* parameter specifies the claim ID of the claim being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claims/{claimId}",
          "response": {
            "$ref": "Claim"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Creates a claim. The video being claimed must have been uploaded to a channel associated with the same content owner as the API user sending the request. You can set the claim's policy in any of the following ways: - Use the claim resource's policy property to identify a saved policy by its unique ID. - Use the claim resource's policy property to specify a custom set of rules. ",
          "flatPath": "youtube/partner/v1/claims",
          "httpMethod": "POST",
          "id": "youtubePartner.claims.insert",
          "parameterOrder": [],
          "parameters": {
            "isManualClaim": {
              "description": "restricted",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claims",
          "request": {
            "$ref": "Claim"
          },
          "response": {
            "$ref": "Claim"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of claims administered by the content owner associated with the currently authenticated user. Results are sorted in descending order of creation time.",
          "flatPath": "youtube/partner/v1/claims",
          "httpMethod": "GET",
          "id": "youtubePartner.claims.list",
          "parameterOrder": [],
          "parameters": {
            "assetId": {
              "description": "Use the claimSearch.list method's assetId parameter to search for claim snippets by asset ID. You can then retrieve the claim resources for those claims by using this method's *id* parameter to specify a comma-separated list of claim IDs.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The *id* parameter specifies a list of comma-separated YouTube claim IDs to retrieve.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. For example, set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "Use the claimSearch.list method's q parameter to search for claim snippets that match a particular query string. You can then retrieve the claim resources for those claims by using this method's *id* parameter to specify a comma-separated list of claim IDs.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Use the claimSearch.list method's videoId parameter to search for claim snippets by video ID. You can then retrieve the claim resources for those claims by using this method's *id* parameter to specify a comma-separated list of claim IDs.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claims",
          "response": {
            "$ref": "ClaimListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patches an existing claim by either changing its policy or its status. You can update a claim's status from active to inactive to effectively release the claim.",
          "flatPath": "youtube/partner/v1/claims/{claimId}",
          "httpMethod": "PATCH",
          "id": "youtubePartner.claims.patch",
          "parameterOrder": [
            "claimId"
          ],
          "parameters": {
            "claimId": {
              "description": "The *claimId* parameter specifies the claim ID of the claim being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claims/{claimId}",
          "request": {
            "$ref": "Claim"
          },
          "response": {
            "$ref": "Claim"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates an existing claim by either changing its policy or its status. You can update a claim's status from active to inactive to effectively release the claim.",
          "flatPath": "youtube/partner/v1/claims/{claimId}",
          "httpMethod": "PUT",
          "id": "youtubePartner.claims.update",
          "parameterOrder": [
            "claimId"
          ],
          "parameters": {
            "claimId": {
              "description": "The *claimId* parameter specifies the claim ID of the claim being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/claims/{claimId}",
          "request": {
            "$ref": "Claim"
          },
          "response": {
            "$ref": "Claim"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "contentOwners": {
      "methods": {
        "get": {
          "description": "Retrieves information about the specified content owner.",
          "flatPath": "youtube/partner/v1/contentOwners/{contentOwnerId}",
          "httpMethod": "GET",
          "id": "youtubePartner.contentOwners.get",
          "parameterOrder": [
            "contentOwnerId"
          ],
          "parameters": {
            "contentOwnerId": {
              "description": "The *contentOwnerId* parameter specifies a value that uniquely identifies the content owner.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/contentOwners/{contentOwnerId}",
          "response": {
            "$ref": "ContentOwner"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of content owners that match the request criteria.",
          "flatPath": "youtube/partner/v1/contentOwners",
          "httpMethod": "GET",
          "id": "youtubePartner.contentOwners.list",
          "parameterOrder": [],
          "parameters": {
            "fetchMine": {
              "description": "The *fetchMine* parameter restricts the result set to content owners associated with the currently authenticated API user.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "The *id* parameter specifies a comma-separated list of YouTube content owner IDs to retrieve.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/contentOwners",
          "response": {
            "$ref": "ContentOwnerListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-content-owner-readonly"
          ]
        }
      }
    },
    "liveCuepoints": {
      "methods": {
        "insert": {
          "description": "Inserts a cuepoint into a live broadcast.",
          "flatPath": "youtube/partner/v1/liveCuepoints",
          "httpMethod": "POST",
          "id": "youtubePartner.liveCuepoints.insert",
          "parameterOrder": [
            "channelId"
          ],
          "parameters": {
            "channelId": {
              "description": "The *channelId* parameter identifies the channel that owns the broadcast into which the cuepoint is being inserted.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners. You can obtain the content owner ID that will serve as the parameter value by calling the YouTube Content ID API's contentOwners.list method.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/liveCuepoints",
          "request": {
            "$ref": "LiveCuepoint"
          },
          "response": {
            "$ref": "LiveCuepoint"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "metadataHistory": {
      "methods": {
        "list": {
          "description": "Retrieves a list of all metadata provided for an asset, regardless of which content owner provided the data.",
          "flatPath": "youtube/partner/v1/metadataHistory",
          "httpMethod": "GET",
          "id": "youtubePartner.metadataHistory.list",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving a metadata history.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/metadataHistory",
          "response": {
            "$ref": "MetadataHistoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "ownership": {
      "methods": {
        "get": {
          "description": "Retrieves the ownership data provided for the specified asset by the content owner associated with the authenticated user.",
          "flatPath": "youtube/partner/v1/assets/{assetId}/ownership",
          "httpMethod": "GET",
          "id": "youtubePartner.ownership.get",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID for which you are retrieving ownership data.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}/ownership",
          "response": {
            "$ref": "RightsOwnership"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Provides new ownership information for the specified asset. Note that YouTube may receive ownership information from multiple sources. For example, if an asset has multiple owners, each owner might send ownership data for the asset. YouTube algorithmically combines the ownership data received from all of those sources to generate the asset's canonical ownership data, which should provide the most comprehensive and accurate representation of the asset's ownership.",
          "flatPath": "youtube/partner/v1/assets/{assetId}/ownership",
          "httpMethod": "PATCH",
          "id": "youtubePartner.ownership.patch",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}/ownership",
          "request": {
            "$ref": "RightsOwnership"
          },
          "response": {
            "$ref": "RightsOwnership"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Provides new ownership information for the specified asset. Note that YouTube may receive ownership information from multiple sources. For example, if an asset has multiple owners, each owner might send ownership data for the asset. YouTube algorithmically combines the ownership data received from all of those sources to generate the asset's canonical ownership data, which should provide the most comprehensive and accurate representation of the asset's ownership.",
          "flatPath": "youtube/partner/v1/assets/{assetId}/ownership",
          "httpMethod": "PUT",
          "id": "youtubePartner.ownership.update",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/assets/{assetId}/ownership",
          "request": {
            "$ref": "RightsOwnership"
          },
          "response": {
            "$ref": "RightsOwnership"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "ownershipHistory": {
      "methods": {
        "list": {
          "description": "Retrieves a list of the ownership data for an asset, regardless of which content owner provided the data. The list only includes the most recent ownership data for each content owner. However, if the content owner has submitted ownership data through multiple data sources (API, content feeds, etc.), the list will contain the most recent data for each content owner and data source.",
          "flatPath": "youtube/partner/v1/ownershipHistory",
          "httpMethod": "GET",
          "id": "youtubePartner.ownershipHistory.list",
          "parameterOrder": [
            "assetId"
          ],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving an ownership data history.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/ownershipHistory",
          "response": {
            "$ref": "OwnershipHistoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "package": {
      "methods": {
        "get": {
          "description": "Retrieves information for the specified package.",
          "flatPath": "youtube/partner/v1/package/{packageId}",
          "httpMethod": "GET",
          "id": "youtubePartner.package.get",
          "parameterOrder": [
            "packageId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "packageId": {
              "description": "The *packageId* parameter specifies the Content Delivery package ID of the package being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/package/{packageId}",
          "response": {
            "$ref": "Package"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Inserts a metadata-only package.",
          "flatPath": "youtube/partner/v1/package",
          "httpMethod": "POST",
          "id": "youtubePartner.package.insert",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/package",
          "request": {
            "$ref": "Package"
          },
          "response": {
            "$ref": "PackageInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "policies": {
      "methods": {
        "get": {
          "description": "Retrieves the specified saved policy.",
          "flatPath": "youtube/partner/v1/policies/{policyId}",
          "httpMethod": "GET",
          "id": "youtubePartner.policies.get",
          "parameterOrder": [
            "policyId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "policyId": {
              "description": "The *policyId* parameter specifies a value that uniquely identifies the policy being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/policies/{policyId}",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Creates a saved policy.",
          "flatPath": "youtube/partner/v1/policies",
          "httpMethod": "POST",
          "id": "youtubePartner.policies.insert",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/policies",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of the content owner's saved policies.",
          "flatPath": "youtube/partner/v1/policies",
          "httpMethod": "GET",
          "id": "youtubePartner.policies.list",
          "parameterOrder": [],
          "parameters": {
            "id": {
              "description": "The *id* parameter specifies a comma-separated list of saved policy IDs to retrieve. Only policies belonging to the currently authenticated content owner will be available.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "description": "The *sort* parameter specifies how the search results should be sorted.",
              "enum": [
                "TIME_UPDATED_ASC",
                "TIME_UPDATED_DESC"
              ],
              "enumDescriptions": [
                "Sort by the update time ascending.",
                "Sort by the update time descending."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/policies",
          "response": {
            "$ref": "PolicyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patches the specified saved policy.",
          "flatPath": "youtube/partner/v1/policies/{policyId}",
          "httpMethod": "PATCH",
          "id": "youtubePartner.policies.patch",
          "parameterOrder": [
            "policyId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "policyId": {
              "description": "The *policyId* parameter specifies a value that uniquely identifies the policy being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/policies/{policyId}",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates the specified saved policy.",
          "flatPath": "youtube/partner/v1/policies/{policyId}",
          "httpMethod": "PUT",
          "id": "youtubePartner.policies.update",
          "parameterOrder": [
            "policyId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "policyId": {
              "description": "The *policyId* parameter specifies a value that uniquely identifies the policy being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/policies/{policyId}",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "referenceConflicts": {
      "methods": {
        "get": {
          "description": "Retrieves information about the specified reference conflict.",
          "flatPath": "youtube/partner/v1/referenceConflicts/{referenceConflictId}",
          "httpMethod": "GET",
          "id": "youtubePartner.referenceConflicts.get",
          "parameterOrder": [
            "referenceConflictId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "referenceConflictId": {
              "description": "The *referenceConflictId* parameter specifies the YouTube reference conflict ID of the reference conflict being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/referenceConflicts/{referenceConflictId}",
          "response": {
            "$ref": "ReferenceConflict"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of unresolved reference conflicts.",
          "flatPath": "youtube/partner/v1/referenceConflicts",
          "httpMethod": "GET",
          "id": "youtubePartner.referenceConflicts.list",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. Set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/referenceConflicts",
          "response": {
            "$ref": "ReferenceConflictListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "references": {
      "methods": {
        "get": {
          "description": "Retrieves information about the specified reference.",
          "flatPath": "youtube/partner/v1/references/{referenceId}",
          "httpMethod": "GET",
          "id": "youtubePartner.references.get",
          "parameterOrder": [
            "referenceId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "referenceId": {
              "description": "The *referenceId* parameter specifies the YouTube reference ID of the reference being retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/references/{referenceId}",
          "response": {
            "$ref": "Reference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Creates a reference in one of the following ways: - If your request is uploading a reference file, YouTube creates the reference from the provided content. You can provide either a video/audio file or a pre-generated fingerprint. If you are providing a pre-generated fingerprint, set the reference resource's fpDirect property to true in the request body. In this flow, you can use either the multipart or resumable upload flows to provide the reference content. - If you want to create a reference using a claimed video as the reference content, use the claimId parameter to identify the claim. ",
          "flatPath": "youtube/partner/v1/references",
          "httpMethod": "POST",
          "id": "youtubePartner.references.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "21474836480",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/partner/v1/references"
              }
            }
          },
          "parameterOrder": [],
          "parameters": {
            "claimId": {
              "description": "The *claimId* parameter specifies the YouTube claim ID of an existing claim from which a reference should be created. (The claimed video is used as the reference content.)",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/references",
          "request": {
            "$ref": "Reference"
          },
          "response": {
            "$ref": "Reference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true
        },
        "list": {
          "description": "Retrieves a list of references by ID or the list of references for the specified asset.",
          "flatPath": "youtube/partner/v1/references",
          "httpMethod": "GET",
          "id": "youtubePartner.references.list",
          "parameterOrder": [],
          "parameters": {
            "assetId": {
              "description": "The *assetId* parameter specifies the YouTube asset ID of the asset for which you are retrieving references.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The *id* parameter specifies a comma-separated list of YouTube reference IDs to retrieve.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter specifies a token that identifies a particular page of results to return. Set this parameter to the value of the nextPageToken value from the previous API response to retrieve the next page of search results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/references",
          "response": {
            "$ref": "ReferenceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patches a reference.",
          "flatPath": "youtube/partner/v1/references/{referenceId}",
          "httpMethod": "PATCH",
          "id": "youtubePartner.references.patch",
          "parameterOrder": [
            "referenceId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "referenceId": {
              "description": "The *referenceId* parameter specifies the YouTube reference ID of the reference being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "releaseClaims": {
              "default": "false",
              "description": "The *releaseClaims* parameter indicates that you want to release all match claims associated with this reference. This parameter only works when the claim's status is being updated to 'inactive' - you can then set the parameter's value to true to release all match claims produced by this reference.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "youtube/partner/v1/references/{referenceId}",
          "request": {
            "$ref": "Reference"
          },
          "response": {
            "$ref": "Reference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates a reference.",
          "flatPath": "youtube/partner/v1/references/{referenceId}",
          "httpMethod": "PUT",
          "id": "youtubePartner.references.update",
          "parameterOrder": [
            "referenceId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "referenceId": {
              "description": "The *referenceId* parameter specifies the YouTube reference ID of the reference being updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "releaseClaims": {
              "default": "false",
              "description": "The *releaseClaims* parameter indicates that you want to release all match claims associated with this reference. This parameter only works when the claim's status is being updated to 'inactive' - you can then set the parameter's value to true to release all match claims produced by this reference.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "youtube/partner/v1/references/{referenceId}",
          "request": {
            "$ref": "Reference"
          },
          "response": {
            "$ref": "Reference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "spreadsheetTemplate": {
      "methods": {
        "list": {
          "description": "Retrieves a list of spreadsheet templates for a content owner.",
          "flatPath": "youtube/partner/v1/spreadsheetTemplate",
          "httpMethod": "GET",
          "id": "youtubePartner.spreadsheetTemplate.list",
          "parameterOrder": [],
          "parameters": {
            "locale": {
              "description": "The *locale* parameter identifies the desired language for templates in the API response. The value is a string that contains a BCP-47 language code. The default value is en.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/spreadsheetTemplate",
          "response": {
            "$ref": "SpreadsheetTemplateListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "uploader": {
      "methods": {
        "list": {
          "description": "Retrieves a list of uploaders for a content owner.",
          "flatPath": "youtube/partner/v1/uploader",
          "httpMethod": "GET",
          "id": "youtubePartner.uploader.list",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/uploader",
          "response": {
            "$ref": "UploaderListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "validator": {
      "methods": {
        "validate": {
          "description": "Validate a metadata file.",
          "flatPath": "youtube/partner/v1/validator",
          "httpMethod": "POST",
          "id": "youtubePartner.validator.validate",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/validator",
          "request": {
            "$ref": "ValidateRequest"
          },
          "response": {
            "$ref": "ValidateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "validateAsync": {
          "description": "Validate a metadata file asynchronously.",
          "flatPath": "youtube/partner/v1/validatorAsync",
          "httpMethod": "POST",
          "id": "youtubePartner.validator.validateAsync",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/validatorAsync",
          "request": {
            "$ref": "ValidateAsyncRequest"
          },
          "response": {
            "$ref": "ValidateAsyncResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "validateAsyncStatus": {
          "description": "Get the asynchronous validation status.",
          "flatPath": "youtube/partner/v1/validatorAsyncStatus",
          "httpMethod": "POST",
          "id": "youtubePartner.validator.validateAsyncStatus",
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/validatorAsyncStatus",
          "request": {
            "$ref": "ValidateStatusRequest"
          },
          "response": {
            "$ref": "ValidateStatusResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "videoAdvertisingOptions": {
      "methods": {
        "get": {
          "description": "Retrieves advertising settings for the specified video.",
          "flatPath": "youtube/partner/v1/videoAdvertisingOptions/{videoId}",
          "httpMethod": "GET",
          "id": "youtubePartner.videoAdvertisingOptions.get",
          "parameterOrder": [
            "videoId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "The *videoId* parameter specifies the YouTube video ID of the video for which you are retrieving advertising settings.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/videoAdvertisingOptions/{videoId}",
          "response": {
            "$ref": "VideoAdvertisingOption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "getEnabledAds": {
          "description": "Retrieves details about the types of allowed ads for a specified partner- or user-uploaded video.",
          "flatPath": "youtube/partner/v1/videoAdvertisingOptions/{videoId}/getEnabledAds",
          "httpMethod": "GET",
          "id": "youtubePartner.videoAdvertisingOptions.getEnabledAds",
          "parameterOrder": [
            "videoId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "The *videoId* parameter specifies the YouTube video ID of the video for which you are retrieving advertising options.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/videoAdvertisingOptions/{videoId}/getEnabledAds",
          "response": {
            "$ref": "VideoAdvertisingOptionGetEnabledAdsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "patch": {
          "description": "Patches the advertising settings for the specified video.",
          "flatPath": "youtube/partner/v1/videoAdvertisingOptions/{videoId}",
          "httpMethod": "PATCH",
          "id": "youtubePartner.videoAdvertisingOptions.patch",
          "parameterOrder": [
            "videoId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "The *videoId* parameter specifies the YouTube video ID of the video for which you are updating advertising settings.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/videoAdvertisingOptions/{videoId}",
          "request": {
            "$ref": "VideoAdvertisingOption"
          },
          "response": {
            "$ref": "VideoAdvertisingOption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates the advertising settings for the specified video.",
          "flatPath": "youtube/partner/v1/videoAdvertisingOptions/{videoId}",
          "httpMethod": "PUT",
          "id": "youtubePartner.videoAdvertisingOptions.update",
          "parameterOrder": [
            "videoId"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "The *videoId* parameter specifies the YouTube video ID of the video for which you are updating advertising settings.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/videoAdvertisingOptions/{videoId}",
          "request": {
            "$ref": "VideoAdvertisingOption"
          },
          "response": {
            "$ref": "VideoAdvertisingOption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "whitelists": {
      "methods": {
        "delete": {
          "description": "Removes a whitelisted channel for a content owner.",
          "flatPath": "youtube/partner/v1/whitelists/{id}",
          "httpMethod": "DELETE",
          "id": "youtubePartner.whitelists.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The *id* parameter specifies the YouTube channel ID of the channel being removed from whitelist.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/partner/v1/whitelists/{id}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
[...]
